@charset "UTF-8";

/* Para tablets */

body {
    background-color: rgb(226, 43, 67);
}

.menuh {
    display: block;
}

.menuLateral {
    display: block;
}

ul li.list a .title {
    display: none;
}