@charset "UTF-8";

/* Para computadores */

html, body { height: 100%}

body {
  background-color: var(--cor1);
}

header,
footer {
  width: 100%;
  padding: 20px;
}

header {
  margin-bottom: 5px;
  background-color: var(--primary);
}

nav {
  float: left;
  background-color: var(--cor1);
  height: 600px;
  border: 1px solid #3399ff;
  box-shadow: 10px 0 0 var(--primary);
}

section {
  float: left;
  width: calc(60% - 20px);
  margin: 0 5px 0px 15px;
}

section article,
section footer
{
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 25px;
}

section header {
  background-color: var(--cor3);
  padding: 10px;
}

section article
{
  margin: 5px 0;
  background-color: var(--cor1);
}

footer {
  clear: both;
  background-color: var(--primary);
  bottom: 0px;
  
}

/* menu */

.menuh {
  display: none;
}

.timer {
  display: none;
}

.menuLateral {
    width: 300px;  
    padding: 40px 0 0 1%;
    overflow: hidden;
    transition: .5s;
    display: block;
}
  
.menuLateral.expandir {
    width: 300px;
}
  
/* menu fim */

/* cronometro */
.cronometro {
  width: 95%;
  height: 100px;
  margin: 40px 0 0 10px;
  box-shadow: 0 0 20px var(--cor4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.cronometroInterno {
  display: none;
}

.cronometroAtivar {
  font-size: 20px;
  width: 100%;
  display: flex;  
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cronometroItem {
  width: 90px;
  height: 90px;
  margin-left: 4px;
  box-shadow: 0 0 10px var(--cor4);
  background-color: var(--primary);
  color: var(--cor3);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.cronometroItem span {
  font-weight: bolder;
  font-size: 38px;
}

.cronometroItem span.tempo {
    font-size: 17px;
}

.btnCron{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5px;
  background-color: var(--cor3);
}

.btnCronInterno button {
  height: 35px;
  font-size: 17px;
  width: 80px;
  padding: 7px;
  border-radius: 5px;
}

.btnCronStart {
  background-color: green;
}

.btnCronStop {
  background-color: red;
}

/* cronometro fim */

ul li.list {
  /* transition: 0.2s; */
  position: relative;
  border-bottom: 1px solid var(--primary);
}

ul li.list:hover {
  background-color: var(--primary);
} 

ul li.list a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  display: flex;  
  line-height: 30px;

}

ul li.active {
  background-color: var(--primary);
}

ul li.list a .title {
  margin-left: 40px;
  transition: 1s;
  opacity: 1;
  white-space: nowrap;
}

.menuLateral.expandir .title {
  margin-left: 40px;
  opacity: 1;
}

ul li.list a .icon {
  font-size: 30px;
  margin-left: 10px;
}

ul li.list2::before {
  background-color: var(--primary);
  transition: transform 300ms ease;
  transform-origin: right;
  transform: scaleX(0);
  inset: 0;
  display: block;
  content: "";
  position: absolute;
 
} 

ul li.list2:hover::before {  
  transform: scaleX(1);
  transform-origin: left;
}