@charset "UTF-8";

/* Para smartphones */

.menuh {
  padding-left: 2px;  
  cursor: pointer;
  font-size: 50px;
  display: block;
  color: black;
  float: left;
}

.menuLateral {
  width: 300px;  
  padding: 40px 0 0 1%;
  overflow: hidden;
  transition: .5s;
  display: none;
}

section {
  clear: both;
}

ul li.list a .title {
  display: block;
}

li {
  transition: 0.2s;
  padding-right: 12px;
  border-bottom: 1px solid #eee;    
}
  
ul li.list:hover {
  background-color: var(--primary);
} 
  
ul li.list a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  display: flex;  
  line-height: 18px;
}
  
ul li.active {
  background-color: var(--primary);
}
  
ul li.list a .title {
  margin-left: 20px;
  transition: 1s;
  white-space: nowrap;
}
  
.menuLateral.expandir .title {
  margin-left: 40px;
  opacity: 1;
}
  
ul li.list a .icon {
  font-size: 20px;
  margin-left: 10px;
}