@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Montserrat:wght@100&family=Open+Sans&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

/*
#3399ff
#888888
#eee
#888
#222
#fff
#dadada

*/

:root {
    --primary: #3399ff;
    --secondary: #888888;
    --cor1: #eee;
    --cor2: #fff;
    --cor3: #dadada;
    --cor4: #888;
}

body {
    font-family: 'Roboto', sans-serif;;
}

header,
footer
{
  width: 100%;
  padding: 20px;
}

header
{
  margin-bottom: 5px;
  background-color: var(--primary);
}

nav {
  height: 600px;
  background-color: var(--cor1);
}

section {
  float: left;
  width: calc(60% - 20px);
  margin: 0 5px 0px 15px;
}

section article,
section footer
{
  width: 100%;
  background-color: #999999;
  border-radius: 5px;
  margin: 0;
  padding: 25px;
}

section header {
  background-color: var(--cor3);
  padding: 10px;
}

section article
{
  margin: 5px 0;
  background-color: var(--cor1);
}

nav {
  float: left;
  border: 1px solid #3399ff;
  box-shadow: 10px 0 0 var(--primary);
}

footer {
  clear: both;
  background-color: var(--primary);
  bottom: 0px;
  
}

.borda {
    border: 1px solid #3399ff;
    border-radius: 5px;
}

.cardFlash {
    width: 350px;
    height: 470px;
    margin: 3px;
    display: grid;    
    grid-template-rows: 45% 45% 10%;
    font-size: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cardFlashIng {
    position: relative;
    background-color: var(--cor2);
    border: 2px solid var(--cor2);
    border-radius: 6px 6px 0 0;
}

.cardFlashPort {
    position: relative;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0 0 6px 6px;
}

.comandos {
  margin-top: 5px;
  align-items: center;
  margin: auto;
}

.comandos span:hover {
  background-color: var(--cor3);
}

.comandosi {
  float: left;
  cursor: pointer;
  text-align: center;
}

.categoria {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

span {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.texto2 {
  display: none;
}

.menuLateral {
  display: block;
  border-left: 30px solid var(--secondary);
  position: relative;
  width: 300px;
  
  transition: 0.5s;
}

.menuLateral:hover {
  width: 300px;
}


.menuLateral ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.menuLateral ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menuLateral ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #464444
}

.menuLateral ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.menuLateral ul li a .title {
  position: relative;
  display: block;
  padding-left: 5px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.menuLateral ul li.active {
  background-color: var(--primary);
}

.menuLateral ul li:hover {
  background-color: var(--cor4);
  color: var(--cor2);
}

.campos {
  float: left;
}

input, select {
  padding: 5px;
}

section header {
  height: 50px;
}

.addcard {
  padding: 10px;
  height: 450px;
}

.certo {
  color: green;
}

.cancel {
  color: red;
}

.cardS {
  display: flex;
  flex-wrap: wrap;
}

.miniCard {
  width: 300px;
  height: 60px;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #d2d4d6;
  padding: 5px;
}

.contador {
  border: 1px solid #3399ff;
  border-radius: 50px;
  background-color: #3399ff;
  color: white;
  text-align: center;
  min-width: 35px;
}

.tituloModeloGeral{
  display: grid;
  grid-template-columns: 85% 15%;
  background-color: #eee;
  color: #888888;
  line-height: 1.5;
  padding: 15px;
  font-weight: bold;
}

.radio {
  padding-bottom: 15px;
}

.message {
  display: none;
}

.cardTopo {
  color: var(--cor3);
  font-size: 1rem;
  display: block;
  text-align: right;
}

ul .sub-menu {
  display: none;
}

.modal-container {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.modal {
  background-color: #fff;
  width: 450px;
  height: 350px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 var(--primary);
}
.modal ul {
  list-style: none;
  padding-top: 25px;
}

.modal ul li{  
  font-size: 1.5rem;
  height: 35px;
}

.modal ul li:hover{
  background-color: var(--cor1);
  cursor: pointer;
}

.fecharModal {
  font-size: 1rem;
  display: block;
  text-align: right;
}

.fecharModal span:hover {
  background-color: var(--cor1);
  cursor: pointer;
}