@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Montserrat:wght@100&family=Open+Sans&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*
#3399ff
#888888
#eee
#888
#222
#fff
#dadada

*/

:root {
  --primary: #3399ff;
  --secondary: #888888;
  --cor1: #eee;
  --cor2: #fff;
  --cor3: #dadada;
  --cor4: #888;
}

html, body { height: 100vh;}

header,
footer
{
  width: 100%;
  padding: 15px;
}



header {
  color: white;
  background-image: radial-gradient(circle, rgb(18, 128, 225) 0%, rgb(0, 32, 105) 100%);
}

section article,
section footer
{
  width: 100%;
  background-color: #999999;
  border-radius: 5px;
  padding: 20px 20px 20px 20px ;
  
}

section header {
  background-color: var(--cor3);
  padding: 10px;
}

section article
{
  margin: 5px 0;
  background-color: var(--cor1);
}

nav {
  border: 1px solid #3399ff;
  box-shadow: 10px 0 0 var(--primary);
}

footer {
  clear: both;
  background-color: var(--primary);
  bottom: 0;
  position: absolute;  
}

/* menu */

.menuh {
  display: none;
}

.menuLateral {
  display: none;
}

ul {
  height: 100%;
  list-style-type: none;
}


/* menu fim */

/* cronometro */
.cronometro {
  width: 95%;
  height: 100px;
  margin-left: 10px;
  box-shadow: 0 0 20px var(--cor4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.cronometroInterno {
  display: none;
}

.cronometroAtivar {
  font-size: 20px;
  width: 100%;
  display: flex;  
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cronometroItem {
  width: 90px;
  height: 90px;
  margin-left: 4px;
  box-shadow: 0 0 10px var(--cor4);
  background-color: var(--primary);
  color: var(--cor3);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;  
}

.cronometroItem span {
  font-weight: bolder;
  font-size: 38px;
}

.cronometroItem span.tempo {
    font-size: 17px;
}

.btnCron{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5px;
  background-color: var(--cor3);
}

.btnCronInterno button {
  height: 35px;
  font-size: 17px;
  width: 80px;
  padding: 7px;
  border-radius: 5px;
}

.btnCronStart {
  background-color: green;
}

.btnCronStop {
  background-color: red;
}

/* cronometro fim */

.borda {
    border: 1px solid #3399ff;
    border-radius: 5px;
}

.cardFlash {
    width: 350px;
    height: 470px;    
    display: grid;    
    grid-template-rows: 45% 45% 10%;
    font-size: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    
}

.cardFlashIng {
    position: relative;
    background-color: var(--cor2);
    border: 2px solid var(--cor2);
    border-radius: 6px 6px 0 0;
}

.cardFlashPort {
    position: relative;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0 0 6px 6px;
}

.comandos {
  margin-top: 5px;
  align-items: center;
  margin: auto;
}

.comandos span {
  width: 35px;
  height: 35px;
  margin-left: 20px;
  font-size: 35px;
}

.comandos span:hover {
  background-color: var(--cor3);
}

.comandosi {
  float: left;
  cursor: pointer;
  text-align: center;
  padding-left: 5px;
}

.comandosi span:hover {
  background-color: var(--primary);
  font-weight: bold;
}

.categoria {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.texto2 {
  display: none;
}


.campos {
  float: left;
}

input, select {
  padding: 5px;
}

section header {
  height: 50px;
}

.addcard {
  padding: 10px;
  height: 450px;
}

.certo {
  color: green;
}

.cancel {
  color: red;
}

.cardS {
  display: flex;
  flex-wrap: wrap;
}

.miniCard {
  width: 300px;
  height: 65px;
  margin: 5px;
  padding: 3px;
  border: 2px solid #d2d4d6;
}

.contador {
  border: 1px solid #3399ff;
  border-radius: 50px;
  background-color: #3399ff;
  color: white;
  text-align: center;
  min-width: 35px;
}

.tituloModeloGeral{
  display: grid;
  grid-template-columns: 85% 15%;
  background-color: #eee;
  color: #888888;
  line-height: 1.5;
  padding: 15px;
  font-weight: bold;
}

.radio {
  padding-bottom: 15px;
}

.message {
  display: none;
}

.cardTopo {
  color: var(--cor3);
  font-size: 1rem;
  display: block;
  text-align: right;
}

.modal-container {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.modal {
  background-color: #fff;
  width: 450px;
  height: 350px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 var(--primary);
}
.modal ul {
  list-style: none;
  padding-top: 25px;
}

.modal ul li{  
  font-size: 1.5rem;
  height: 35px;
}

.modal ul li:hover{
  background-color: var(--cor1);
  cursor: pointer;
}

.fecharModal {
  font-size: 1rem;
  display: block;
  text-align: right;
}

.fecharModal span:hover {
  background-color: var(--cor1);
  cursor: pointer;
}

.table-baralhoDetalhado caption,
.table-baralhoDetalhado tr th {
  background-color: #3399ff;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table-opr tr:nth-child(even) {
  background:rgba(38, 43, 62, 0.05);
}

.table-baralhoDetalhado caption,
.table-baralhoDetalhado th,
.table-baralhoDetalhado td {
  padding: 12px 15px;
}

.table-baralhoDetalhado tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-baralhoDetalhado tbody tr:nth-of-type(even) {
  background-color: #f3f3f3 ;
}

.table-baralhoDetalhado tbody tr:nth-child(odd) {
  background-color: rgb(233, 230, 230) ;
}

.table-baralhoDetalhado tbody tr:last-of-type {
  border-bottom: 1px solid #3399ff;
}

.table-baralhoDetalhado tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

a {
  text-decoration: none;
}
