<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Flashcards</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='m.ico') }}" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-query-smartphone.css') }}" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-query-tablet.css') }}" media="screen and (min-width:768px) and (max-width: 992px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-query-pc.css') }}" media="screen and (min-width:993px)">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    
</head>

<body>
    <header>
        <h3>Flashcards - {{ subTitulo }}</h3>
    </header>
    <div class="menuh">
        <span class="icon material-symbols-outlined menuh">menu</span>
    </div>
    <div class="timer">
        <span class="icon material-symbols-outlined menuh">timer</span>
    </div>
    <nav>
        
        <div class="menuLateral">
            <ul>
                <li class="list">
                    <a href="/">                     
                        <span class="icon material-symbols-outlined">home</span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/baralhos">                     
                        <span class="icon material-symbols-outlined">library_add</span>
                        <span class="title">Baralhos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alterabaralho">                     
                        <span class="icon material-symbols-outlined">view_timeline</span>
                        <span class="title">Incluir palavra</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/frases">                     
                        <span class="icon material-symbols-outlined">change_circle</span>
                        <span class="title">Frases</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="cronometro">
            <div class="cronometroAtivar">
                <span>Cronômetro</span>                
            </div>
            <div class="cronometroInterno">
                <div class="cronometroItem btnCron">
                    <div class="btnCronInterno">
                        <button class="btnCronStart">Iniciar</button>
                    </div>
                    <div class="btnCronInterno">
                        <button class="btnCronStop">Parar</button>
                    </div>
                </div>
                <div class="cronometroItem">
                    <span id="minutos">00</span>
                    <span class="tempo">Minutos</span>
                </div>
                <div class="cronometroItem">
                    <span id="segundos">00</span>
                    <span class="tempo">Segundos</span>
                </div>
            </div>
        </div>
        {% block conteudoLateral %} {% endblock %}
    </nav>
    <section>
            {% block conteudo %} {% endblock %}
    </section>
    <footer>
        <div class="rodape">
            {% block footer %} {% endblock %}
        </div>
    </footer>

    {% block js %} {% endblock %}
</body>

</html>